@model IEnumerable<RegisterClient.Models.Client>

@{
    ViewData["Title"] = "Clientes";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Incluir</a>
</p>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.RazaoSocial)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.NomeFantasia)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Cpf_Cnpj)
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            @if (item.Tipo == "F")
            {
                <td>
                    Física
                </td>
            }
            else
            {
                <td>
                    Jurídica
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.RazaoSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeFantasia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf_Cnpj)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Alterar</a> |
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Visualizar</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
